@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663231324701') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou1:before {
  content: "\e628";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-arrow_down:before {
  content: "\e646";
}

.icon-fenxiang:before {
  content: "\e771";
}

.icon-shangxia:before {
  content: "\e60e";
}

.icon-arrowTop-fill:before {
  content: "\e65d";
}

.icon-zuojiantou:before {
  content: "\e60c";
}
.icon-tel:before {
  content: "\e641";
}
